<div class=container-0>


    <div class=container-1>

        <div class=welcome>
            <app-welcome > </app-welcome>
        </div>

<div class=colomn1>
        <div class=perachive>
            <app-p-achievments></app-p-achievments>
        </div>

        <div class=thankyou>
            <app-thankyou></app-thankyou>
        </div>

        <div class=topchart>
            <app-topchart></app-topchart>
        </div>
</div>

    <div class=colomn2>
        <div class=badges>
            <app-badges></app-badges>
        </div>

        <div class=challenges>
            <app-challanges></app-challanges>
        </div>
    </div>
    
    </div>

    <div class=container-2>
            <app-exoft-achievment></app-exoft-achievment>
    </div>

    

</div>