/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
background-color: #2e2e2e;
}

.mat-tab-label-content{ 
    color: white;
}


.mat-tab-list{
    .mat-ink-bar {
        background-color: #86bb3b;
        height: 5px;
    }
}



/*.mat-tab-header{
.mat-tab-label-container{
.mat-tab-list{
.mat-tab-labels{
.mat-tab-label {

}
}
}
}
}*/

